/* cursor: url(paintbrush-svgrepo-com.svg); */

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#quiz{
    display: flex;
    /* justify-content: center;
    align-items: center;
    position: relative; */
    flex: 33.33%;
    padding: 0;
    margin: auto;
}

#button{
  background-color: #53331a; /* Green */
  /* margin-top: 50; */
  width: 160px;
  height: 40px;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  margin-top: 3%;
  position: fixed;
  left: 45%; 
  top:50%; 
}

#afterSub{
    visibility: hidden;
    margin-top: 4%;
    text-align: center;
    word-spacing: 3%;
    font-size: x-large;
    line-height: 5pt;
    color: rgb(161, 5, 5);
    position: absolute; 
    left: 30%; 
    top:45%;
}














/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(174, 174, 88);
    color: black;
}  */
/* #container{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer; 
    transition: all 0.3s;
}
.btn:hover {
    background:#222;
    color: #fff;
}
#nextBtn{
    background-color:rgb(79, 86, 64);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20 auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
} */





















/* #container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 88rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}
button{
    padding: .3rem 1;
    width: 30rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: rgb(79, 86, 64);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgb(28, 36, 16);
    transition: transform 150ms;
    transform: scale(1.03);
}

#quiz {

    width: 550px;
    background: blue;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 25px;
} */

